@font-face {
  font-family: "iconfont"; /* Project id 3260704 */
  src: url('iconfont.woff2?t=1648009131644') format('woff2'),
       url('iconfont.woff?t=1648009131644') format('woff'),
       url('iconfont.ttf?t=1648009131644') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e6df";
}

.icon-moon:before {
  content: "\e6c3";
}

