{% extends "base.html" %} {% block content %}
<header>
  <h1>{{title}}</h1>
  <div class="info">
    <img
      src="https://avatars.githubusercontent.com/u/4035340?v=4"
      alt="avatar"
      class="avatar"
    />
    <div>
      <small>赐予我力量吧啊啊😬😁</small>
      <br />
      <small>hanpei</small>
    </div>
  </div>
</header>
<main>
  <section>{{content}}</section>
  {% if post_index %}
  <h3>Blog</h3>
  <ul>
    {% for post in post_index %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</main>
{% endblock content %}
